@use '../../shared/styles/vars';
@use '../../shared/styles/misc';

:host {
  @include vars.app-host-common();
}

.ui.component {
  display: block;
  height: 100%;
}

.options {
  @include misc.clearfix();
}

.ui.details-item {
  float: right;
}

#options-container {
  @include misc.clearfix();
}

#semester-dropdown {
  float: right;
}

app-grade-subject-item {
  display: block;
}

app-grade-subject-item:not(:last-child) {
  margin-bottom: vars.$card-margin;
}
app-grade-subject-item:not(:first-child) {
  margin-top: vars.$card-margin;
}
