@use '../../styles/vars';

:host {
  display: block;
}

li {
  color: var(--text-color-3);
  box-sizing: border-box;
  cursor: pointer;
  line-height: #{vars.$side-menu-item-height - vars.$side-menu-item-v-padding * 2};
  padding: vars.$side-menu-item-v-padding vars.$side-menu-item-h-padding;

  * {
    vertical-align: middle;
  }
}

:host.active li {
  color: var(--accent-u1);
  background-color: var(--accent-d2);
}

i {
  margin-right: vars.$side-menu-icon-margin;
  font-size: 1.2em;
}
