<div
  class="container"
  [routerLink]="'/grades/subject/' + subject.Id"
  appClickEffect>
  <h5 class="subject-title">{{ subject.Name | capitalize }}</h5>
  <div class="subject-grades-list" [style.--subject-color]="color">
    <div
      class="subject-grade"
      appClickEffect
      (click)="showGradeDetails($event, grade)"
      forceRippleTheme="light"
      [ngClass]="{'final-or-proposed': !isGradeNormal(grade)}"
      *ngFor="let grade of getGrades()">
      {{ formatGradeShort(grade) }}
    </div>
    <div
    class="average"
    *ngIf="getAverage()">
      <span class="average-text">Średnia:</span><span class="average-value">{{ getAverage() | number: '1.2-2' }}</span>
    </div>
  </div>
  <div
    class="no-grades-text"
    *ngIf="getGrades().length === 0">Brak ocen</div>
</div>
