<div
  class="ui view-wrapper"
  [style.height.px]="viewService.windowHeight">
  <app-top-bar
    [uiTitle]="routeTitle"
    appIcon="bi-arrow-left"
    (onButtonClick)="onBack()"></app-top-bar>
  <div class="ui component" id="grades-list-component">
    <div class="ui group offset align-width">
      <app-bar-switch
      [options]="semesterOptions"
      [selectedOption]="semester"
      (onSelect)="onSemesterSelect($event)"></app-bar-switch>
    </div>
    <div class="ui group offset align-width">
      <ul class="grades-list" [style.--subject-color]="color">
        <ng-container *ngFor="let grade of getGrades(); let i = index">
          <div class="date" *ngIf="grades[i-1]?.Date !== grade.Date"><span>{{ getGradeDateFormatted(grade) }}</span></div>
          <app-grade
          [grade]="grade"
          (click)="showGradeDetails($event, grade)"></app-grade>
        </ng-container>
      </ul>
    </div>
  </div>
  <div
    class="no-grades-text"
    *ngIf="getGrades().length === 0">Brak ocen</div>
</div>
