@use '../../../shared/styles/vars';

.ui.view-wrapper {
  flex-direction: column;
}

#grades-list-component {
  overflow: auto;
  display: block;
}

.grades-list {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.grade {
  display: flex;
  pointer-events: auto;
  cursor: pointer;
  background-color: var(--bg-color-2);
  border-radius: vars.$border-radius;
  border-radius: vars.$border-radius;
  color: #000000;

  &:not(:last-child) {
    margin-bottom: vars.$card-margin;
  }
  &:not(:first-child) {
    margin-top: vars.$card-margin;
  }
}

.symbol {
  width: 40px;
  border-radius: vars.$border-radius;
  height: 40px;
  flex-shrink: 0;
  font-size: 1.7rem;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  margin-right: 10px;
  color: #ffffff;
  background-color: var(--subject-color)
}

.details {
  flex-grow: 1;
  padding: 8px 10px;
  line-height: 1.25rem;
  color: var(--text-color-1);

  p {
    margin: 0;
    padding: 4px 0;
    word-break: break-word;
  }
}

.date {
  @include vars.date-bar();
}

.added-by {
  font-size: 1.06em;
}

.category {
  font-size: 1.25rem;
  font-weight: bold;
}

.no-grades-text {
  color: var(--text-color-3);
  text-align: center;
  margin-top: 20px;
  font-size: 1.12rem;
}
