.ui.view-wrapper {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.ui.component {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.ui.group {
  max-width: 300px;
}

.ui.title {
  text-align: center;
  color: var(--title-color-main);
  color: var(--title-color-gray);
  margin-bottom: 60px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -30px;
    width: 100%;
    border-top: 1px solid var(--form-el-border-color);
  }
}
