@use '../shared/styles/layout';

.ui.view-wrapper {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.ui.component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.ui.group {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(300px + #{layout.$content-offset * 2});
  // centering
  margin: auto;
}

.ui.title {
  text-align: center;
  color: var(--text-color-main);
  color: var(--text-color-gray);
  margin-bottom: 60px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -30px;
    width: 100%;
    border-top: 1px solid var(--form-el-border-color);
  }
}
