<div
  class="ui view-wrapper"
  [style.height.px]="viewService.windowHeight">
  <app-top-bar
    [uiTitle]="routeTitle"
    appIcon="bi-arrow-left"
    (onButtonClick)="onBack()"></app-top-bar>
  <div class="ui component offset" id="grades-list-component">
    <ul class="grades-list">
      <ng-container *ngFor="let grade of grades; let i = index">
        <div class="date" *ngIf="grades[i-1]?.Date !== grade.Date"><span>{{ getGradeDateFormatted(grade) }}</span></div>
        <li
        class="grade"
        appClickEffect
        (click)="showGradeDetails($event, grade)">
        <div class="symbol" [ngStyle]="{'background-color': color}">{{ formatGradeShort(grade) }}</div>
        <div class="details">
          <p>
            <span class="added-by">{{ users[grade.AddedBy.Id]?.FirstName }} {{ users[grade.AddedBy.Id]?.LastName }}</span>
          </p>
          <p class="category">{{ categories[grade.Category.Id].Name | capitalize }}</p>
        </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div
    class="no-grades-text"
    *ngIf="grades.length === 0">Brak ocen</div>
</div>
