<div
  class="ui view-wrapper"
  [style.height.px]="viewService.windowHeight"
  [appSideMenuOpener]="sidemenuRef"
  [appSideMenuElRef]="sidemenuElRef"
  [appShouldOpen]="!isSidemenuOpened"
  (onOpen)="onOpenSidemenu()"
  (onClose)="onCloseSidemenu()">
  <app-top-bar
    [uiTitle]="routeTitle"
    appIcon="bi-list"
    (onButtonClick)="onOpenSidemenu()"></app-top-bar>
  <app-side-menu
    [isOpened]="isSidemenuOpened"
    (onClose)="onCloseSidemenu()"
    #sidemenuRef></app-side-menu>
  <router-outlet></router-outlet>
  <app-nav-bar></app-nav-bar>
</div>
