@use '../../shared/styles/vars';
@use '../../shared/styles/misc';

:host {
  overflow: hidden;
}

.ui.component#main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.ui.component {
  width: 100%;
}

.ui.component#list {
  overflow: hidden;
}

.lists-slider {
  height: 100%;
}
