<div
  class="entry lesson"
  appClickEffect
  forceRippleTheme="light"
  [style.--subject-color]="color"
  [ngClass]="{canceled: lesson.IsCanceled, substitution: lesson.IsSubstitutionClass}">
  <div class="entry-caption">
    <span
      class="entry-header"
      *ngIf="!lesson.IsSubstitutionClass; else substitutionName">{{ lesson.Subject.Name | capitalize }}</span>
    <ng-template #substitutionName>
      <span class="entry-header">{{ lesson.OrgSubject.Name | capitalize }}
        <i class="bi-arrow-right"></i>
        {{ lesson.Subject.Name | capitalize }}</span>
    </ng-template>
    <br>
    <span class="entry-sub">{{ range.From }} &ndash; {{ range.To }}</span>
  </div>
</div>
