<button
  class="ui button"
  (click)="toggle()"
  appClickEffect
  #dropdownButton>Semestr I</button>
<div class="dropdown-content" [ngClass]="{open: isOpened}" #dropdownContent>
  <ul class="dropdown-list">
    <li class="dropdown-item" appClickEffect (click)="select($event, 'dupa')">Semestr II</li>
    <li class="dropdown-item" appClickEffect (click)="select($event, 'dupa')">Semestr I</li>
    <li class="dropdown-item" appClickEffect (click)="select($event, 'dupa')">Cały rok</li>
  </ul>
</div>
