:host {
  cursor: pointer;
  flex: 1 1 0;
  text-align: center;
  padding: 5px;
  padding: {
    top: 12px;
  }
  color: var(--text-color-4);

  &.active {
    color: var(--text-color-1);
  }
}

.nav-bar-item-icon {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 2px;
}

.nav-bar-item-caption {
  display: inline-block;
  font: {
    size: 1rem;
  }
}
