@use '../../shared/styles/vars';

:host {
  @include vars.app-host-common();
}

.ui.component {
  box-sizing: border-box;
  flex-direction: column;
  touch-action: pan-y;
  min-height: 100%;
}

.details {
  pointer-events: none;
  --bar-shadow-color: rgba(127, 127, 127, 0.3);
  margin-bottom: vars.$card-margin;
  border-radius: vars.$border-radius;
  background-color: var(--bg-color-2);
  padding: 1px 0;
}

h2 {
  margin-top: vars.$card-margin;
  margin-bottom: #{vars.$card-margin * 0.5};
  text-align: center;
  color: var(--text-color-1);
}
