@use 'vars';
@use 'misc';

$el-height: 44px;
$el-padding: 12px;
$el-line-height: #{$el-height - $el-padding*2};
$el-ver-margin: 8px;
$el-border-width: 1px;
$group-ver-margin: 30px;

@mixin common-form-element-styles($no-border: false) {
  box-sizing: border-box;
  width: 100%;
  padding: $el-padding;
  line-height: $el-line-height;
  font: {
    family: 'Lato', Roboto, sans-serif;
    size: 1em;
  }
  @if ($no-border) {
    min-height: calc(#{$el-height} + 2 * #{$el-border-width});
    border: none;
  }
  @else {
    min-height: $el-height;
    border: $el-border-width solid var(--form-el-border-color);
  }
  border-radius: vars.$border-radius;
}

.ui.form {
  text-align: left;
}

.ui.form-group {
  @include misc.clearfix();
  margin-top: $group-ver-margin;
  margin-bottom: $group-ver-margin;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.ui.form-control, .ui.form-control:-webkit-autofill {
  @include misc.fast-transition();
  @include common-form-element-styles();

  margin: {
    top: $el-ver-margin;
    bottom: $el-ver-margin;
  }
  color: var(--form-el-text-color);
  background-color: var(--form-el-bg-color);
  box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 10%) inset;

  &:focus {
    background-color: var(--form-el-bg-color-focus);
    border-color: vars.$accent;
  }

  &.ng-invalid.ng-touched {
    border-color: vars.$danger;
  }
}

.ui.form-error {
  display: block;
  clear: both;
  color: vars.$danger;
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 12px;
}

.ui.button {
  @include misc.fast-transition();
  @include common-form-element-styles($no-border: true);
  cursor: pointer;
  background-color: var(--btn-color-default);
  color: var(--btn-font-color-default);
  border-radius: vars.$border-radius;
  font-weight: bold;
  @include misc.fast-transition();

  &.primary {
    color: vars.$accent-contrast;
    background-color: vars.$accent;
  }
}

.ui.label {
  display: block;
  margin-top: $el-ver-margin;
  clear: both;
  color: var(--form-el-text-color);
  font-size: 0.8em;
}
