@use 'vars';

$content-offset: 24px;

.ui.view-wrapper {
  width: 100vw;
  // height must be set by JS
  display: flex;
}

.ui.component {
  box-sizing: border-box;
  display: flex;
  touch-action: pan-y;
}

.ui {
  .component, .group {
    &.offset {
      box-sizing: border-box;
      padding: #{$content-offset * 0.5} $content-offset;
      &:last-of-type {
        padding-bottom: $content-offset;
      }
      &:first-of-type {
        padding-top: $content-offset;
      }
    }
  }

  .offset:not(.group) {
    padding: $content-offset;
  }
}

.ui.align-width {
  max-width: vars.$column-max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ui.disable-top-margin {
  margin-top: 0;
}

.ui.disable-bottom-margin {
  margin-bottom: 0;
}
