@use 'vars';
@use 'misc';

html, body {
  color: var(--text-color-1);
  font-size: 13px;
}

body * {
  overscroll-behavior: auto;
  outline: none;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:active {
    background-color: rgba(127, 127, 127, 0.5);
  }
}

*:not(a) {
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
}

.ui.title {
  line-height: 1.88rem;
  font-weight: 900;
}

.ui.simple-error {
  color: vars.$danger;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.text-to-right {
  @include misc.clearfix();
  text-align: right;
}

.ui.stick-to-right {
  @include misc.clearfix();
  float: right;
}

.click-effect {
  --ripple-x: 50%;
  --ripple-y: 50%;
  position: relative;
  overflow: hidden;
  & * {
    pointer-events: none;
  }
  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    display: block;
    background-color: var(--ripple-color);
    border-radius: 100%;
    left: calc(var(--ripple-x) - var(--ripple-size) / 2);
    top: calc(var(--ripple-y) - var(--ripple-size) / 2);
    width: var(--ripple-size);
    height: var(--ripple-size);
    opacity: 0;
  }

  &.ce-held::before {
    opacity: 1;
    animation: {
      name: ripple-scale;
      timing-function: ease-out;
      iteration-count: 1;
      duration: 400ms;
    }
  }

  &.ce-held.ce-released::before {
    opacity: 0;
    animation: {
      name: ripple-scale, ripple-opacity;
      timing-function: ease-out, ease-out;
      iteration-count: 1, 1;
      duration: 400ms, 600ms;
    }
  }

  &.force-dark::before {
    background-color: var(--ripple-color-dark);
  }

  &.force-light::before {
    background-color: var(--ripple-color-light);
  }

  &.force-revert::before {
    background-color: var(--ripple-color-revert);
  }
}

@keyframes ripple-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ripple-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ui.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.ui.details-list {
  list-style: none;
  margin: 10px 15px;
  padding: 0px;
}

.ui.details-item {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--bar-shadow-color);
  }
}

.ui.details-item-name, .ui.details-item-content {
  margin: 5px 0;
}

.ui.details-item-name {
  margin-right: auto;
  font-size: 0.87em;
  padding-top: 0.08em;
  padding-right: 1em;
  text-transform: uppercase;
  color: var(--text-color-1);
}

.ui.details-item-content {
  color: var(--text-color-3);
}

// <ul class="ui details-list">
//   <li class="ui details-item">
//     <h5 class="ui details-item-name">name</h5>
//     <p class="ui details-item-content">content</p>
//   </li>
// </ul>
