@use 'vars';

@mixin clearfix($modifyAfter: true) {
  &::after {
    @if $modifyAfter {
      content: '';
      display: block;
    }
    clear: both;
  }
}

@mixin fast-transition() {
  transition: all 200ms ease;
}

.clearfix {
  @include clearfix();
}

body {
  --side-menu-width: #{vars.$side-menu-width};

  --bg-color-1: #ffffff;
  --bg-color-2: #eeeeee;
  --bg-color-3: #dddddd;
  --bg-color-1-shift-dark: var(--bg-color-1);
  --bg-color-2-shift-dark: var(--bg-color-2);
  --bg-color-3-shift-dark: var(--bg-color-3);

  --btn-color-default: #eeeeee;
  --btn-color-default-darker: #e1e1e1;
  --link-color: #{vars.$accent};
  --form-el-bg-color: #f0f0f0;
  --form-el-bg-color-focus: #f9f9f9;
  --form-el-text-color: black;
  --form-el-border-color: rgba(0, 0, 0, 0.05);

  --text-color-main: black;
  --text-color-gray: #3f3f3f;

  --shadow-color: rgba(0, 0, 0, 0.2);
  --ripple-color: var(--ripple-color-dark);
  --ripple-color-light: rgba(255, 255, 255, 0.4);
  --ripple-color-dark: rgba(0, 0, 0, 0.3);
  --ripple-color-revert: var(--ripple-color-light);
}

body {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  overscroll-behavior: none;
  font-size: 16px;
  background-color: var(--bg-color-1);
  color: var(--text-color-main);
  font-family: 'Lato', Roboto, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --bg-color-1: #000000;
    --bg-color-2: #1a1a1a;
    --bg-color-3: #2f2f2f;
    --bg-color-1-shift-dark: var(--bg-color-2);
    --bg-color-2-shift-dark: var(--bg-color-3);
    --bg-color-3-shift-dark: var(--bg-color-3);

    --btn-color-default: #333333;
    --btn-color-default-darker: #3c3c3c;
    --link-color: #{vars.$accent-lighter};
    --form-el-bg-color: #1e1e1e;
    --form-el-bg-color-focus: #2f2f2f;
    --form-el-text-color: #dddddd;
    --form-el-border-color: rgba(255, 255, 255, 0.3);

    --text-color-main: rgb(255, 255, 255);
    --text-color-gray: #eeeeee;

    --shadow-color: rgba(255, 255, 255, 0.2);
    --ripple-color: var(--ripple-color-light);
    --ripple-color-revert: var(--ripple-color-dark);
  }
}
