// colors
$accent: hsl(268, 54%, 49%);
$accent-lighter: hsl(268, 54%, 65%);
$accent-darker: hsl(268, 54%, 38%);
$accent-contrast: #ffffff;
$danger: #ff3311;

// other
$border-radius: 4px;
$side-menu-width: 280px;
$side-menu-segment-margin: 15px;
$side-menu-item-v-padding: 10px;
$side-menu-item-h-padding: 20px;
$side-menu-icon-margin: 15px;
$side-menu-item-height: 44px;
