// colors
$accent: hsl(268, 54%, 49%);
$accent-lightest: hsl(268, 54%, 92%);
$accent-lighter: hsl(268, 54%, 75%);
$accent-darker: hsl(268, 54%, 38%);
$accent-darkest: hsl(268, 20%, 15%);
$accent-contrast: #ffffff;
$danger: #ff3311;

// other
$border-radius: 4px;
$card-margin: 20px;
$column-max-width: 500px;

// side-menu
$side-menu-width: 280px;
$side-menu-segment-margin: 15px;
$side-menu-item-v-padding: 10px;
$side-menu-item-h-padding: 20px;
$side-menu-icon-margin: 15px;
$side-menu-item-height: 44px;

// nav-bar
$nav-bar-height: 64px;
