// colors
@use "sass:math";

$accent: hsl(268, 54%, 49%);
$accent-lightest: hsl(268, 72%, 90%);
$accent-lighter: hsl(268, 54%, 75%);
$accent-darker: hsl(268, 54%, 38%);
$accent-darkest: hsl(268, 40%, 20%);
$accent-contrast: #ffffff;
$danger: #ff3311;
$success: #14B814;
$warning: #F4AB3E;

// attendances
$att-presence: #0B114B;
$att-lateness: #F4AB3E;
$att-absence: #FF424F;
$att-excused: #14B814;
$att-exempt: #3e8bff;

// calendar
$event-teacher-free-day: hsl(7, 100%, 64%);
$event-homework: rgb(203, 73, 255);
$event-parent-conference: rgb(67, 124, 255);
$event-class-free-day: hsl(83, 100%, 63%);
$event-school-free-day: hsl(83, 100%, 63%);

// other
$border-radius: 4px;
$content-offset: 24px;
$card-margin: 20px;
$column-max-width: 500px;
$smooth-out-timing-function: cubic-bezier(0, 0.5, 0, 1);
$smooth-in-timing-function: cubic-bezier(0.5, 0, 1, 0);

// timetable
$hour-height: 100px;
$minute-height: #{math.div($hour-height, 60)};
$day-padding: 60;
$lesson-margin: 3px;
$time-tags-gap: 45px;

// side-menu
$side-menu-width: 280px;
$side-menu-segment-margin: 15px;
$side-menu-item-v-padding: 10px;
$side-menu-item-h-padding: 20px;
$side-menu-icon-margin: 15px;
$side-menu-item-height: 44px;

// nav-bar
$nav-bar-height: 64px;

// mixins

@mixin fast-transition() {
  transition: all 200ms ease;
}

@mixin unstyle-list() {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@mixin date-bar() {
  color: var(--text-color-4);
  font-size: 1.05rem;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 0px;
  height: 1px;
  background-color: var(--bg-color-2-shift-dark);

  &:not(:first-child) {
    margin-top: 30px;
  }

  span {
    background-color: var(--bg-color-1);
    padding: 0 10px;
  }
}

@mixin app-host-common() {
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: pan-y;
  display: block;
  height: 100%;

  > .ui.component {
    display: block;
    height: 100%;
  }
}

@mixin set-att-color-var() {
  &[att-type="1"] { // absence
    --att-color: #{$att-absence};
  }
  &[att-type="2"] { // lateness
    --att-color: #{$att-lateness};
  }
  &[att-type="3"] { // absence excused
    --att-color: #{$att-excused};
  }
  &[att-type="4"] { // exempt
    --att-color: #{$att-exempt};
  }
  &[att-type="100"] { // presence
    --att-color: var(--bg-color-3);
  }
}

@mixin set-event-color() {
  &[kind="TeacherFreeDays"] {
    --event-color: #{$event-teacher-free-day};
  }
  &[kind="HomeWorks"] {
    --event-color: #{$event-homework};
  }
  &[kind="ParentTeacherConferences"] {
    --event-color: #{$event-parent-conference};
  }
  &[kind="ClassFreeDays"] {
    --event-color: #{$event-class-free-day};
  }
  &[kind="SchoolFreeDays"] {
    --event-color: #{$event-school-free-day};
  }
}

@mixin loading-spinner($size: 26px, $width: 3px, $color: #ffffff, $auto-position: false) {
  $inner-size: #{$size - $width * 2};
  content: '';
  @if $auto-position {
    position: absolute;
    top: calc(50% - #{$size * 0.5});
    left: calc(50% - #{$size * 0.5});
  }
  width: $inner-size;
  height: $inner-size;
  animation: button-spinner 0.6s linear;
  animation-iteration-count: infinite;
  box-shadow: 0 0 0 1px transparent;
  border: {
    color: $color transparent transparent $color;
    style: solid;
    width: $width;
    radius: 100%;
  }
}

@mixin dot() {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  margin-right: 5px;
  border-radius: 100%;
}
