@use '../../../shared/styles/vars';

:host {
  overflow-y: auto;
  touch-action: pan-y;
  height: 100%;
  display: block;
}

.plan-container {
  position: relative;
  overflow: hidden;
  height: calc((var(--day-range-to) - var(--day-range-from) + #{vars.$day-padding * 2}) * #{vars.$minute-height});
}

.time-tags-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc((-1) * (var(--day-range-from) - #{vars.$day-padding}) * #{vars.$minute-height});

  > div {
    box-sizing: border-box;
    position: relative;
    top: -0.5px;
    height: vars.$hour-height * 0.5;
    margin-bottom: vars.$hour-height * 0.5;
    padding-top: 2px;
    padding-left: 6px;
    border-top: 1px solid var(--bg-color-2-shift-dark);
    border-bottom: 1px solid var(--bg-color-2-shift-dark);
    font-size: 0.9rem;
    color: var(--text-color-4);
  }
}

.lessons-container {
  position: relative;
  height: 100%;
  margin-left: vars.$time-tags-gap;
}

.range-block {
  // layout
  position: absolute;
  box-sizing: border-box;
  // flex
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-items: stretch;
  // positioning
  top: calc((var(--range-from) - var(--day-range-from) + #{vars.$day-padding}) * #{vars.$minute-height});
  left: 0;
  height: calc((var(--range-to) - var(--range-from)) * #{vars.$minute-height});
  width: 100%;
  padding-right: 8px;
}

@mixin dot() {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  margin-right: 5px;
  border-radius: 100%;
}

.entry {
  display: block;
  overflow: hidden;
  cursor: pointer;
  flex: 1;
  border-radius: vars.$border-radius;
  padding: 9px 9px;

  &:not(:first-child, .single) {
    margin-left: vars.$lesson-margin;
  }

  &:not(:last-child, .single) {
    margin-right: vars.$lesson-margin;
  }

  &.canceled {
    opacity: 0.5;
    .entry-header {
      text-decoration: line-through;
    }
  }

  &.substitution {
    .entry-header::before {
      @include dot();
      background-color: #ffffff;
    }
  }

  &::before {
    //content: '';
    display: block;
    float: left;
    width: 8px;
    height: 100%;
    margin-right: 8px;
    border-radius: 4px;
    background-color: var(--subject-color);
  }
}

.entry.lesson {
  color: #ffffff;
  background-color: var(--subject-color);
}

.entry.homework {
  background-color: var(--bg-color-2);

  .entry-caption {
    color: var(--text-color-1);
  }

  .entry-header:first-child::before {
    @include dot();
    background-color: vars.$event-homework;
  }
}

.entry.event {
  background-color: var(--bg-color-2);
  @include vars.set-event-color();

  .entry-header:first-child::before {
    @include dot();
    background-color: var(--event-color);
  }

  &:not(:first-child) {
    margin-top: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.entry-caption {
  float: left;

  .entry-header {
    display: inline-block;
    font-weight: bold;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    i {
      margin: 0 2px;
    }
  }

  .entry-sub {
    display: inline-block;
    max-width: 100%;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}

.no-events-text {
  display: inline-block;
  width: 100%;
  color: var(--text-color-3);
  text-align: center;
}
