<div class="events-container ui offset">
  <app-event
    *ngFor="let event of getEvents()"
    [event]="event"
    (click)="showEventDetails($event, event)">
  </app-event>
  <span class="no-events-text" *ngIf="getEvents().length == 0">Brak wydarzeń</span>
</div>
<div
  class="plan-container"
  [style.--day-range-from]="dayStartRange"
  [style.--day-range-to]="dayEndRange">
  <div class="time-tags-container">
    <div *ngFor="let tag of timeTags">{{ tag }}</div>
    <div class="now-bar" [style.--minutes]="minutes"></div>
  </div>
  <div class="lessons-container" #lessonsContainer>
    <ng-container  *ngFor="let rangeLessons of timetable; let rangeIndex = index">
      <div
        class="range-block"
        *ngIf="rangeLessons.length > 0"
        [style.--range-from]="lessonsRange[rangeIndex]?.RawFrom"
        [style.--range-to]="lessonsRange[rangeIndex]?.RawTo">
        <app-lesson
          *ngFor="let lesson of rangeLessons"
          (click)="showLessonDetails($event, lesson)"
          [lesson]="lesson"
          [color]="subjectColors[lesson.Subject.Id]"
          [range]="lessonsRange[lesson.LessonNo]">
        </app-lesson>
        <app-homework
          *ngFor="let homework of getHomeworks(rangeIndex)"
          [homework]="homework"
          (click)="showEventDetails($event, homework)"
          appClickEffect></app-homework>
      </div>
    </ng-container>
  </div>
</div>
