@use '../../../shared/styles/vars';

:host {
  overflow-y: auto;
  touch-action: pan-y;
  height: 100%;
  display: block;
}

.plan-container {
  position: relative;
  overflow: hidden;
  height: calc((var(--day-range-to) - var(--day-range-from) + #{vars.$day-padding * 2}) * #{vars.$minute-height});
}

.time-tags-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc((-1) * (var(--day-range-from) - #{vars.$day-padding}) * #{vars.$minute-height});

  > div:not(.now-bar) {
    box-sizing: border-box;
    position: relative;
    top: -0.5px;
    height: vars.$hour-height * 0.5;
    margin-bottom: vars.$hour-height * 0.5;
    padding-top: 2px;
    padding-left: 6px;
    border-top: 1px solid var(--bg-color-2-shift-dark);
    border-bottom: 1px solid var(--bg-color-2-shift-dark);
    font-size: 0.9rem;
    color: var(--text-color-4);
  }

  .now-bar {
    box-sizing: border-box;
    position: relative;
    top: calc(#{vars.$hour-height} * (-25) + var(--minutes) * #{vars.$minute-height});
    border-top: 1px solid vars.$danger;
  }
}

.lessons-container {
  position: relative;
  height: 100%;
  margin-left: vars.$time-tags-gap;
}

.range-block {
  // layout
  position: absolute;
  box-sizing: border-box;
  // flex
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-items: stretch;
  // positioning
  top: calc((var(--range-from) - var(--day-range-from) + #{vars.$day-padding}) * #{vars.$minute-height});
  left: 0;
  height: calc((var(--range-to) - var(--range-from)) * #{vars.$minute-height});
  width: 100%;
  padding-right: 8px;
}

.no-events-text {
  display: inline-block;
  width: 100%;
  color: var(--text-color-3);
  text-align: center;
}
