@use '../shared/styles/vars';

:host {
  display: flex;
  justify-items: stretch;
  align-items: stretch;
  margin-top: auto;
  height: vars.$nav-bar-height;
  flex-shrink: 0;
  background: var(--bg-color-1-shift-dark);
  box-shadow: 0px -0.5px 1px var(--bar-shadow-color);
}
