<div
  class="ui view-wrapper"
  [ngClass]="{'opened': isOpened}"
  [style.height.px]="viewService.windowHeight">
  <div
    class="ui overlay"
    id="menu-overlay"
    (panstart)="isBeingPanned = false"
    (panend)="isBeingPanned = true"
    (click)="onOverlayClick()"
    [style.opacity]="panProgress"
    [style.transition]="!enableTransition ? 'none' : null"></div>
  <nav
    #sidemenuElRef
    class="ui side-menu"
    [style.left.px]="sideMenuWidth * ((panProgress !== null ? panProgress : false || +isOpened) - 1)"
    [style.transition]="!enableTransition ? 'none' : null">
    <div class="ui sm-segment sm-header">
      <ng-template [ngIf]="getAuthState().loggedIn">
        <strong class="ui sm-name">{{ getAuthState().account?.studentName }}</strong>
        <span class="ui sm-email">{{ getAuthState().me?.Account?.Email }}</span>
        <span class="ui sm-last-sync" *ngIf="lastSyncText">
          <div class="ui details-item">
            <h5 class="ui details-item-name">Ostatnia synchronizacja</h5>
            <p class="ui details-item-content">{{ lastSyncText }}</p>
          </div>
        </span>
        <ul class="ui sm-list">
          <app-side-menu-item itemIcon="bi-box-arrow-right" (click)="onLogoutClick()">Wyloguj się</app-side-menu-item>
          <app-side-menu-item itemIcon="bi-arrow-repeat" (click)="onSyncClick()">Synchronizuj</app-side-menu-item>
        </ul>
      </ng-template>
      <i class="ui sm-name" *ngIf="!getAuthState().loggedIn">Nie zalogowano</i>
    </div>
    <div class="ui sm-segment sm-body" *ngIf="getAuthState().loggedIn">
      <p class="ui sm-segment-title">Przeglądaj</p>
      <ul class="ui sm-list">
        <app-side-menu-item itemIcon="bi-grid-1x2" routerLink="/main/overview" routerLinkActive="active">Przegląd</app-side-menu-item>
        <app-side-menu-item itemIcon="bi-journal" routerLink="/main/grades" routerLinkActive="active">Oceny i zachowanie</app-side-menu-item>
        <app-side-menu-item itemIcon="bi-ui-checks-grid" routerLink="/main/attendances" routerLinkActive="active">Frekwencja</app-side-menu-item>
        <app-side-menu-item itemIcon="bi-calendar-range" routerLink="/main/timetables" routerLinkActive="active">Plan lekcji</app-side-menu-item>
        <app-side-menu-item itemIcon="bi-building" routerLink="/main/my-school" routerLinkActive="active">Szkoła i klasa</app-side-menu-item>
      </ul>
    </div>
    <div class="ui sm-segment sm-footer">
      <p class="ui sm-segment-title">Aplikacja</p>
      <ul class="ui sm-list">
        <app-side-menu-item itemIcon="bi-gear" routerLink="/settings" routerLinkActive="active">Ustawienia</app-side-menu-item>
      </ul>
    </div>
  </nav>
</div>
