@use '../styles/vars';
@use '../styles/misc';

$trns-time: 300ms;
$trns-fn: cubic-bezier(0, 0, 0.1, 1);

.ui.view-wrapper {
  z-index: 1500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

.ui.overlay {
  z-index: 1;
  opacity: 0;
  transition: opacity $trns-time $trns-fn;
}

.ui.side-menu {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  pointer-events: auto;
  max-width: calc(100vw - 40px);
  width: var(--side-menu-width);
  background-color: var(--bg-color-1-shift-dark);
  font-size: 1.12rem;

  transition: all $trns-time $trns-fn;
  left: #{- vars.$side-menu-width};
  box-shadow: 10px 0px 20px transparent;
}

.ui.view-wrapper.opened {
  pointer-events: all;
  .ui.side-menu {
    left: 0;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .ui.overlay {
    opacity: 1;
  }
}

.ui.sm-segment {
  margin-top: vars.$side-menu-segment-margin;
  &:last-child {
    margin-bottom: vars.$side-menu-segment-margin;
    }
}

.ui.sm-header {
  padding-top: vars.$side-menu-item-v-padding;
  .sm-name, .sm-email, .sm-last-sync {
    padding: 0 vars.$side-menu-item-h-padding;
    display: block;
  }
  .sm-name {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  .sm-email {
    font-size: 0.9em;
    color: var(--accent);
  }
  .sm-last-sync {
    font-size: 0.9em;
    padding-top: 20px;
    color: var(--text-color-2);

    .details-item {
      padding: 0;
      * {
        margin: 2px 0;
      }
    }
  }
  .sm-list {
    padding-top: vars.$side-menu-item-v-padding;
  }
}

.ui.sm-footer {
  margin-top: auto;
}

.ui.sm-segment-title {
  color: var(--text-color-3);
  margin: 0;
  margin-bottom: vars.$side-menu-item-v-padding;
  padding: 6px vars.$side-menu-item-h-padding;
  font: {
    size: 1.06rem;
  }
  background-color: var(--bg-color-2-shift-dark);
}

.ui.sm-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
