@use '../styles/vars';

:host {
  --color-1: var(--bg-color-1);
  --color-3: var(--bg-color-2);
  --color-4: var(--bg-color-3);
}

body.dark :host {
  --color-1: var(--bg-color-4);
  --color-3: var(--bg-color-2);
  --color-4: var(--bg-color-3);
}

$border: 1px solid var(--color-4);

.bar {
  display: flex;
  box-sizing: border-box;
  //overflow: hidden;
  align-items: stretch;
  width: 100%;
  border-radius: vars.$border-radius;
}

.bar-item {
  cursor: pointer;
  color: var(--text-color-3);
  background-color: var(--color-3);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  border: $border;

  &.selected {
    color: var(--text-color-1);
    background-color: var(--color-1);
  }

  &:first-child {
    border-bottom-left-radius: vars.$border-radius;
    border-top-left-radius: vars.$border-radius;
  }

  &:last-child {
    border-bottom-right-radius: vars.$border-radius;
    border-top-right-radius: vars.$border-radius;
  }

  &:not(:last-child) {
    border-right: none;
  }
}
