<div
  class="ui view-wrapper"
  [ngClass]="{'opened': isOpened}"
  [style.height.px]="viewService.windowHeight">
  <div
    class="ui overlay"
    id="menu-overlay"
    (panstart)="isBeingPanned = false"
    (panend)="isBeingPanned = true"
    (click)="onOverlayClick()"
    [style.opacity]="panProgress"
    [style.transition]="!enableTransition ? 'none' : null"></div>
  <nav
    #sidemenuElRef
    class="ui side-menu"
    [style.left.px]="sideMenuWidth * ((panProgress !== null ? panProgress : false || +isOpened) - 1)"
    [style.transition]="!enableTransition ? 'none' : null">
    <div class="ui sm-segment sm-header">
      <ng-template [ngIf]="getAuthState().loggedIn">
        <strong class="ui sm-name">{{ getAuthState().account?.studentName }}</strong>
      <span class="ui sm-email">{{ getStoreData().me?.Account?.Email }}</span>
      <ul class="ui sm-list">
        <app-side-menu-item appIcon="bi-box-arrow-right">Wyloguj się</app-side-menu-item>
      </ul>
      </ng-template>
      <i class="ui sm-name" *ngIf="!getAuthState().loggedIn">Nie zalogowano</i>
    </div>
    <div class="ui sm-segment sm-body" *ngIf="getAuthState().loggedIn">
      <p class="ui sm-segment-title">Przeglądaj</p>
      <ul class="ui sm-list">
        <app-side-menu-item appIcon="bi-grid-1x2">Szybki podgląd</app-side-menu-item>
        <app-side-menu-item appIcon="bi-journal">Oceny i zachowanie</app-side-menu-item>
        <app-side-menu-item appIcon="bi-ui-checks-grid">Frekwencja</app-side-menu-item>
        <app-side-menu-item appIcon="bi-calendar-range">Plan lekcji</app-side-menu-item>
        <app-side-menu-item appIcon="bi-building">Szkoła i klasa</app-side-menu-item>
      </ul>
    </div>
    <div class="ui sm-segment sm-footer">
      <p class="ui sm-segment-title">Aplikacja</p>
      <ul class="ui sm-list">
        <app-side-menu-item appIcon="bi-info">Informacje</app-side-menu-item>
        <app-side-menu-item appIcon="bi-gear">Ustawienia</app-side-menu-item>
      </ul>
    </div>
  </nav>
</div>
