<app-nav-bar-item appClickEffect itemIcon="bi-ui-checks-grid" routerLink="attendances" routerLinkActive="active">Frekwencja</app-nav-bar-item>
<app-nav-bar-item appClickEffect itemIcon="bi-journal" routerLink="grades" routerLinkActive="active">Oceny</app-nav-bar-item>
<app-nav-bar-item appClickEffect itemIcon="bi-calendar-range" routerLink="timetables" routerLinkActive="active">Plan lekcji</app-nav-bar-item>
<!-- <app-nav-bar-item appClickEffect itemIcon="bi-grid-1x2" routerLink="overview" routerLinkActive="active">Przegląd</app-nav-bar-item> -->
