@use '../../../shared/styles/vars';

.ui.view-wrapper {
  flex-direction: column;
}

#attendances-list-component {
  overflow: auto;
  display: block;
}

.attendances-list {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.no-grades-text {
  display: inline-block;
  color: var(--text-color-3);
  text-align: center;
  margin-top: 20px;
  font-size: 1.12rem;
}
