@use '../shared/styles/vars';

$bar-height: 54px;
$el-padding: 10px;
$el-margin: 5px;

@mixin common-bar-element() {
  box-sizing: border-box;
  height: #{$bar-height - $el-margin * 2};
  margin: $el-margin;
  line-height: #{$bar-height - $el-padding * 2};
  padding: #{$el-padding - $el-margin};
  color: var(--text-color-1);
}

:host {
  box-sizing: border-box;
  display: flex;
  height: $bar-height;
  background-color: var(--bg-color-1);
  box-shadow: 0px 0.5px 1px var(--bar-shadow-color);
  font-size: 0.85em;
}

.ui.topbar-button {
  @include common-bar-element();
  width: #{$bar-height - $el-margin * 2};
  border-radius: 100%;
  cursor: pointer;
  font-size: 2.1em;
  text-align: center;
}

.ui.topbar-title {
  @include common-bar-element();
  flex-grow: 1;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
