@use '../shared/styles/vars';

.ui.view-wrapper {
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.ui.component {
  @include vars.app-host-common();
}

.group {
  width: 100%;
  padding: vars.$content-offset 0;
}

.setting-entry, h2 {
  display: block;
  padding: 12px vars.$content-offset;
  margin: 0;
}

.setting-entry {
  cursor: pointer;
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
  background-color: var(--bg-color-2);
  margin-bottom: #{vars.$content-offset * 0.5}
}
